<section class="registerSection">
  <img src="../../../assets/logo3-removebg-preview.png" alt="CaptureMatch logo" class="logo" routerLink="/">
  <div class="register-container" *ngIf="displayInitialContainer">
    <h1 class="title">What's your goal?</h1>
    <div class="goals-container">
      <div class="client-goal" routerLink="/register-form" fragment="client">
        <button class="button-text">I want to find a photographer!</button>
      </div>
      <div class="line"></div>
      <div class="photographer-goal" routerLink="/register-form" fragment="photographer">
        <button class="button-text">I want to showcase my talent!</button>
      </div>
    </div>
    <small class="loginText">Already have an account? <a routerLink="/" fragment="login">Sign in</a></small>
  </div>
</section>
