<footer class="footer">
    <div class="footer1-container">
        <article>
            <h6 class="title">
                Ready for CaptureMatch?
            </h6>
            <p class="paragraph">
                Let's get started
            </p>
        </article>
        <button>Sign Up</button>
    </div>
    <div class="content">
      <h6>CaptureMatch</h6>
      <ul>
        <li>About Us</li>
        <li>FAQ</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="copyright-container">
      Copyright © 2024 - Developed by Lucas Gonçalves
    </div>
</footer>
