<div class="component-container">
  <img src="../../../assets/logo3-removebg-preview.png" alt="CaptureMatch logo" class="logo" routerLink="/">
  <div class="form-container">
    <h1 class="title">{{title}}</h1>
    <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
      <fieldset class="name-container">
        <div class="field-container">
          <label for="firstName">First name</label>
          <input type="text" id="firstName" placeholder="John" formControlName="firstName">
        </div>
        <div class="field-container">
          <label for="lastName">Last name</label>
          <input type="text" id="lastName" placeholder="Doe" formControlName="lastName">
        </div>
      </fieldset>
      <fieldset class="state-date-container">


        <div class="field-container">
          <label for="dateOfBirth">Date of birth</label>
          <input type="text" placeholder="DD/MM/YYYY" bsDatepicker [maxDate]="maxDate" [bsConfig]="{ isAnimated: true }" formControlName="date" formControlName="dateOfBirth" id="dateOfBirth"/>
        </div>

        <div class="field-container">
          <label for="state">State</label>
          <input [(ngModel)]="stateSelected" [typeahead]="states" (keyup.enter)="loadCities(stateSelected)" [optionsListTemplate]="customListTemplate" formControlName="state" id="state" placeholder="Alaska">

          <ng-template #customListTemplate let-matches="matches" let-query="query" let-typeaheadTemplateMethods class="list-container">
            <ul class="custom-list-group">
              <li class="custom-list-group-item"
               *ngFor="let match of matches"
               [class.active]="typeaheadTemplateMethods.isActive(match)"
               (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
               (click)="loadCities(match.item)"
               (mouseenter)="typeaheadTemplateMethods.selectActive(match)">
              {{ match.item }}
              </li>
            </ul>
          </ng-template>
        </div>

      </fieldset>

      <div class="field-container">
        <label for="city">City</label>
        <input [typeahead]="cities" [optionsListTemplate]="customListTemplate" formControlName="city" id="city" placeholder="Fairbanks">

        <ng-template #customListTemplate let-matches="matches" let-query="query" let-typeaheadTemplateMethods class="list-container">
          <ul class="custom-list-group">
            <li class="custom-list-group-item"
             *ngFor="let match of matches"
             [class.active]="typeaheadTemplateMethods.isActive(match)"
             (click)="typeaheadTemplateMethods.selectMatch(match, $event)"
             (mouseenter)="typeaheadTemplateMethods.selectActive(match)">
            {{ match.item }}
            </li>
          </ul>
        </ng-template>
      </div>

      <div class="field-container">
        <label for="userName">Username</label>
        <input type="text" id="userName" placeholder="johndoe" formControlName="userName">
      </div>
      <div class="field-container password-field">
        <label for="password">Password</label>
        <input type="{{showPassword ? 'text' : 'password'}}" id="password" formControlName="password">
        <button class="show-password" (click)="toggleShowPassword()" type="button">
          <img *ngIf="showPassword" src="../../../assets/icons/eye-slash-svgrepo-com.svg" alt="" class="eye-icon">
          <img *ngIf="!showPassword" src="../../../assets/icons/eye-svgrepo-com.svg" alt="" class="eye-icon">
        </button>
      </div>

      <div class="buttons-container">
        <small class="backText" routerLink="/goal">Go back <img src="../../../assets/icons/left-arrow-svgrepo-com.svg" class="left-arrow" alt=""></small>
        <button class="register-button" type="submit" ><span>Register</span></button>
      </div>
    </form>
  </div>
</div>
