<header class="header" [class.menuOpened]="menuOpened">
  <div class="buttonAndDesktokNavContainer">
    <a routerLink="/search">
      <img src="../../../assets/logo3-removebg-preview.png" alt="" class="logo-img">
    </a>
    <button class="header-hamburgerMenu" (click)="openMenu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#000" fill-rule="evenodd" d="M5.75 5.25h12.5a.75.75 0 1 1 0 1.5H5.75a.75.75 0 0 1 0-1.5zm0 6h12.5a.75.75 0 1 1 0 1.5H5.75a.75.75 0 1 1 0-1.5zm0 6h12.5a.75.75 0 1 1 0 1.5H5.75a.75.75 0 1 1 0-1.5z"></path></svg>
    </button>
    <nav class="header-desktopNav">
      <ul class="links_list">
        <li class="link">
          <a>Liked Photographers</a>
        </li>
        <li class="link">
          <a>Find Photographers</a>
        </li>
        <li class="link">
          <a>Messages</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="buttons-container buttons-container-tabletAndDesktop">
    <button type="button" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" class="profile-dropdown-button">
      <img src="../../../assets/icons/profile-icon.svg" alt="Profile Icon" class="profile-icon">
    </button>
    <div id="collapseBasic" class="profile-dropdown-container" [collapse]="isCollapsed">
      <div class="content">
        <ul>
          <li>
            <a>View Profile</a>
          </li>
          <li (click)="logout()">Logout</li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="header-mobileNav">
    <button class="closeMenuButton" (click)="openMenu()">
      <svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M777.856 280.192l-33.92-33.952-231.872 231.872-231.84-231.872-33.984 33.888 231.872 231.904-231.84 231.84 33.888 33.984 231.904-231.904 231.84 231.872 33.952-33.888-231.872-231.904z"/></svg>
    </button>
    <ul class="links_list">
      <li class="link">
        <a>About Us</a>
      </li>
      <li class="link">
        <a>Services</a>
      </li>
      <li class="link">
        <a>FAQ</a>
      </li>
      <li class="link">
        <a>Contact Us</a>
      </li>
    </ul>
    <div class="buttons-container buttons-container-navbar">
      <button class="header-signButton" routerLink="/goal">
        <span>Sign up</span>
      </button>
    </div>
  </nav>
  <div class="header-overlay" (click)="openMenu()"></div>
</header>
